@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .small-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  .small-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  }

  .shadow {
    box-shadow: 9px 32px 35px rgba(0, 0, 0, 0.0464653);
  }
}